alembic==1.16.5
annotated-types==0.7.0
anyio==4.10.0
asttokens==3.0.0
asyncpg==0.30.0
AWRS==2019.8.14.1152
banal==1.0.6
bcrypt==4.3.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.1
cycler==0.12.1
dataset==1.6.2
decorator==5.2.1
dnspython==2.8.0
docopt==0.6.2
ecdsa==0.19.1
email-validator==2.3.0
executing==2.2.1
fastapi==0.116.2
fastapi-cli==0.0.12
fastapi-cloud-cli==0.2.0
folktales==2018.5.3.245
fonttools==4.60.0
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
megaparsex==2018.2.12.2333
numpy==2.3.3
packaging==25.0
pandas==2.3.2
parso==0.8.5
passlib==1.7.4
pillow==11.3.0
prometheus_client==0.21.1
prompt_toolkit==3.0.52
psutil==7.1.0
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pycparser==2.23
pydantic==2.11.9
pydantic-settings==2.6.1
pydantic_core==2.33.2
pyfiglet==1.0.4
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.5
pyprel==2018.9.14.1501
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rich==14.1.0
rich-toolkit==0.15.1
rignore==0.6.4
rsa==4.9.1
scalar==2018.9.10.2016
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
sentry-sdk==2.38.0
shellingham==1.5.4
shijian==2023.10.19.215
six==1.17.0
sniffio==1.3.1
SQLAlchemy==1.4.54
stack-data==0.6.3
starlette==0.48.0
technicolor==2017.1.16.1544
threadpoolctl==3.6.0
traitlets==5.14.3
typer==0.17.4
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==1.26.20
uvicorn==0.35.0
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
widgetsnbextension==4.0.14
